#tz_pin_more_warp{
    width: 100%;
    height: auto;
    padding-bottom: 20px;
}
.tz_pin_more_erro{
        width: 100%;
        height: auto;
    padding: 10px;
       background: rgb(255,255,255); /* Old browsers */
       background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(243,243,243,1) 50%, rgba(237,237,237,1) 51%, rgba(255,255,255,1) 100%); /* FF3.6+ */
       background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(243,243,243,1)), color-stop(51%,rgba(237,237,237,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
       background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
       background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
       background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* IE10+ */
       background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* W3C */
       filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    font-family: georgia;
     font-size: 18px;
     font-style: italic;
       box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
        z-index: 1000;
    text-align: center;

    }
.cler{
    clear: both;
}
#tz_pin_more_warp_name{

    position: relative;
    height: 35px;

    margin-bottom: 5px  ;
}
#tz_pin_more_img{
    position: absolute;
    width: 50px;
    height: 50px;
    border: 1px solid #e1d3c8;
    top:10px;
    left: 50px;
}
#tz_pin_more_user{
    position: absolute;
    left: 130px;
    top: 35px;
    font-family: georgia;
    font-size: 28px;
    font-style: italic;
}
#tz_pin_more_left{
    width:63%;
    float: left;
    height: auto;

    margin-top: 5px;
}
#tz_pin_more_left ul{
    margin: 0;
    padding: 0;
}
#tz_pin_more_left_top{
    position: relative;
    width: 100%;
    height: 80px;

}
#tz_pin_more_repin{
    display: block;
    width: 55px;

    text-decoration: none;

    border-radius: 5px 5px 5px 5px;
    margin-top: 4% ;
    margin-left: 3%;
    position:  relative;
    border: 1px solid #c0c0c0;
    float: left;
    cursor: pointer;
}
#tz_pin_more_repin:hover{
    box-shadow: -1px 2px 0 rgba(0, 0, 0, 0.2);
}
#tz_pin_more_repin span{

    display: block;
    padding-top: 9%;
    padding-bottom: 9%;
    font-family: georgia;
    color: #666666;
    font-size: 18px;
    font-style: italic;
}
#tz_pin_more_edit{
    display: block;
    width: 59px;

    text-decoration: none;

    margin-top: 4% ;
    margin-left: 3%;
    position:  relative;
    border: 1px solid #c0c0c0;
    float: left;
    cursor: pointer;
}
#tz_pin_more_edit:hover{
    box-shadow: -1px 2px 0 rgba(0, 0, 0, 0.2);
}
#tz_pin_more_edit span{

    display: block;
    padding-top: 9%;
    padding-bottom: 9%;
    font-family: georgia;
    font-size: 18px;
    color: #666666;
    font-style: italic;
}
#tz_pin_more_warp_left_top_a_edit{
    display: block;
    width: 70px;
    border-radius:8px;
    height: 30px;
    text-decoration: none;
    background: rgb(238,238,238); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
    border: 1px solid #c0c0c0;
    margin-top: 6% ;
    margin-left: 3%;
    position:  relative;
    float: left;
}
#tz_pin_more_warp_left_top_a_edit span{
    position: absolute;
    display: block;
    top: 13%;
    left: 28%;
    font-family: georgia;
    font-size: 16px;
    font-style: italic;
}
#tz_pin_more_warp_left_top a:hover{
    box-shadow: 0 1px rgba(101, 104, 100, 0.35) , 0 0 0 1px rgba(101, 104, 100, 0.1), 0 1px 1px rgba(101, 104, 100, 0.35);
    cursor: pointer;
    text-decoration: underline;
}
#tz_pin_more_left_top_pin{
    width: 100%;
    height: auto;


}
#tz_pin_more_left_top_img{
    width: 100%;
    height: auto;
    position: relative;
   background: #f1f6f0;
    padding-top: 10px;
    padding-bottom: 10px;


}
#tz_pin_more_img_first{
        width: 90%;
         height: auto;
         position: relative;
         margin:  auto;
         text-align: center;
        overflow: hidden;
}
#tz_pin_more_img_first img{
        border: 1px solid #d7dcd6;
}
#tz_pin_more_pin_conten{
          width: 90%;
          height: auto;
          position: relative;
          margin:  auto;
          text-align: center;
}
#tz_pin_more_conten_title{
    width: 100%;
    height: auto;
    text-align: justify;
    font-size: 11px;
    font-family: georgia;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 8px;

}
#tz_pin_more_conten_discript{
    width: 100%;
    height: auto;
    text-align: justify;
    font-family: georgia;
    background: #eee3e3;
    padding: 5px;
}

#tz_pin_more_warp_right{
    width: 36%;
    float: left;
    margin-left: 1%;
    margin-top: 5px;
    height: auto;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
}
#tz_pin_more_right_name{
    width: 100%;
    height: 70px;
    position: relative;
}
#tz_pin_more_right_board{
    text-align: center;
    display: block;
    padding-top: 10px;
    font-size: 16px;
    font-family: georgia;
    color: #333333;

}
#tz_pin_more_right_board:hover{
    text-decoration: underline;
}
#tz_pin_more_p{
    position: absolute;
     top: 45%;
     left: 43%;
     font-size: 12px;
     font-family: georgia;
     color: #726e6e;

}
#tz_pin_more_warp_right_name_pin{

    width: 100%;
    height: auto;
    padding-bottom: 10px;
}
#tz_pin_more_warp_right_name_pin ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#tz_pin_more_warp_right_name_pin ul li:first-child{
    width: 96%;
    max-height: 150px;
    text-align: center;
    overflow: hidden;



}
#tz_pin_more_warp_right_name_pin ul li:first-child img{
    padding: 10px;


}
#tz_pin_more_warp_right_name_pin ul li:last-child{
    width: 100%;
    height: auto;
    padding: 3px;
}
#tz_pin_more_warp_right_name_pin ul li:last-child img{
    width: 56px;
    height: 50px;
    border: 1px solid #c0c0c0;
}
/* ket thuc css chi tiet  */
#tz_repin_more_warp{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    top:0;
    left: 0;
    display: none;
}
#tz_repin_more_warp_2{
    position: fixed;
    background: #000000;
    width: 100%;
    height: 100%;
    z-index: 2000;
    top:0;
    left: 0;
    opacity: 0.8;
}
#tz_repin_more_warp_form{
    width: 43%;
    height: auto;
    padding-bottom: 20px;
    background: #e0e0dd;
    position:  fixed;
    top: -100%;
    left: 30%;
    z-index: 3000;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
    padding-top: 10px;
    overflow-y: scroll;


}
#tz_repin_img_deletes{
    background: none repeat scroll 0 0 #000101;
       position: absolute;
       right: 0;
       top: 0;
       width: 38px;

    }
#tz_repin_img_deletes:hover{
    cursor: pointer;
   background: white;

    }
#tz_repin_more_warp_form_img{
    width: 70%;
    max-height: 50%;
    overflow: hidden;
    margin: 20px auto;
    border: 1px solid #c0c0c0;
    text-align: center;
}
.tz_repin_more_warp_form_div{
    width: 70%;
    margin: auto;
    height: auto;
    position:  relative;


}
.tz_repin_more_warp_form_div select{
    width: 100%;
       height:40px ;
    padding-top: 9px;
    padding-left: 5px;
    padding-bottom: 5px;
       font-family: georgia;
       background: rgb(255,255,255); /* Old browsers */
      background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
      background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

}
.tz_repin_more_warp_form_div input{
    width: 96%;
    height: 30px !important;
    font-family: georgia;
    background: rgb(255,255,255); /* Old browsers */
   background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
   background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
   background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
   background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
   background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

}
#tz_repin_more_title{
    font-size: 14px;
      font-family: georgia;
      color: red;
}
#tz_repin_more_descript{
    font-size: 14px;
         font-family: georgia;
         color: red;
}
.tz_repin_more_warp_form_div textarea{
    max-width: 97%;
    max-height: 60px;
    padding: 5px;
    font-family: georgia;
        background: rgb(255,255,255); /* Old browsers */
       background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
       background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
       background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
       background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
       background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
       background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
       filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}
#tz_repin_button{
    width: 100px;
    height: 35px !important;
    border-radius: 5px;
    font-family: georgia;
    font-size: 16px;

    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}
#tz_repin_buttons{
    width: 100px;
    height: 35px !important;
    border-radius: 5px;
    font-family: georgia;
    font-size: 16px;

    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}
#tz_repin_tile{
    position: absolute;
    width: 100px;
    height: 30px;
    top:5px;
    left: 120px;
    padding-top: 5px;
    font-family: georgia;
    display: none;
    font-weight: bold;

}
#tz_repin_tile span{
    color: red;
    padding-left: 2px;
}
#tz_repin_descript{
    position: absolute;
    width: 100px;
    height: 30px;
    top:5px;
    left: 210px;
    padding-top: 5px;
    font-family: georgia;
    display: none;
    font-weight: bold;

}
#tz_repin_descript span{
    color: red;
    padding-left: 1px;

}
#tz_repin_more_notice{
    width: 20%;
    height: 10%;
    z-index: 40000;
    position:  fixed;
    bottom: -100%;
    left: 40%;
    border-radius: 5px;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
       background: rgb(255,255,255); /* Old browsers */
       background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
       background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
       background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
       background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
       background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
       background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
       filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}
#tz_repin_more_notice p{
    font-family: georgia;
       font-size: 16px;
    text-align: center;
    padding-top: 20px;

}