.cler{
    clear: both;
}
#tz_detail{
    position: relative;
}

.tz_tag{
   
    font-size: 18px;
    color: #606060;
}
.tz_web{
   
   color: #606060;
    font-size: 18px;
}
#tz_thumbnails_img{
    max-width: 100px;

   
}
.thumbnail a:hover{
    color: #666666;
    cursor: pointer;
    text-decoration: none;
}

#tz_detail_user{
    position: relative;
    width: 98%;
    margin: auto;
    height: auto;
    margin-bottom: 10px;
}
.tz_detail_user_left{
    float: left;
    width: 17%;
    height: auto;
    text-align: center;
      padding-top: 1%;
}
.tz_detail_user_right{
     float: left;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
    width: 80%;
  
}

.tz_detail_intro{
      height: auto;
    width: 98%;
    margin: auto;
    margin-bottom: 15px;
     color: #7C7C7E;
    font-size: 14px;
     line-height: 24px;
 }
.tz_show_all{
    width: 98%;
    margin: auto;
    height: auto;
    margin-bottom: 15px;
}

.tz_detail_tags:first-child{
    padding-left: 0;
    color: #666666;
}
.tz_detail_tags{
    padding-left: 10px;
    color: #666666;
}

.tz_detail_content .tz_detail_tags:hover{
    color: #0088CC;
}
.tz_detail_content .tz_detail_title_board:hover{
    color: #0088CC;
}
.tz_detail_title_board{

    display: block;
     color: #7C7C7E;
     font-size: 13px;
    padding-left: 23px;
    background: url('../images/board12.png') no-repeat;
    float: left;

}
.tz_detail_date{
    display: block;
     color: #7C7C7E;
     font-size: 13px;
    padding-left: 23px;
    background: url('../images/lich.png') no-repeat;
    float: left;
    margin-left: 20px;
}
#tz_rp{

    margin: 20px;
}
#tz_repin{
    width: 80px;
}
.tz_rp_edit{
    margin-left: 10px;
    width: 45px;
}

.tz-detail-price{
    background-color: #ffffff;
    font-size: 11px;
    left: -72px;
    overflow: hidden;
    padding: 10px 0;
    position: absolute;
    text-align: center;
    top: 19px;
    transform: rotate(-45deg);
    width: 220px;
    z-index: 999;
    opacity:0.77;
    color: #000000;
}
.tz-detail-price2{
    background-color: #ffffff;
    font-size: 13px;
    left: -37px;
    overflow: hidden;
    padding: 7px 0;
    position: absolute;
    text-align: center;
    top: 25px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    width: 150px;
    z-index: 1;
    opacity: 0.8;
    color: #000000;
}

.tz_datail_comment{
    width: 98%;
    margin: auto;
    padding: 12px 0px;

}
.tz_bt{
    color: #565656;
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 10px;
    padding-left: 10px;
}
#tz_comment{
    width: 98% !important;
    max-height: 60px;
    padding: 5px;
    margin-top: 3px;
    margin-left: 6px;

}

#tz_post_cm{
    float: right;
    margin-right: 10px;
    color: #666666;
}
#tz_post_cm_erro{
    float: right;
    margin-right: 10px;
    color: #666666;
}

.tz_imgs{

    margin: auto;
    display: block;
    padding-bottom: 10px;
  width: 100%;
}
.tz_detail_content{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.tz-detail-hover{
    position: relative;
}
.tz_detail_video{
    height: 20px;
    margin: 20px;
}
.tz-detail-price-video{
    height: auto;
    margin: 29px 0 10px 27px;
}
.tz_detail_pl{
    display: block;
    padding: 10px 10px 0 8px;
    width: auto;
    z-index: 10;
}

.tz_pinboard_sp{
    color: #3B3D3E;
    font-size: 12px;
    margin-left: 3px;
    margin-right: 3px;
}
.tz_detail_pl .tz_check_like{
    display: none;
}

.tz_button_repin {
    cursor: pointer;
    color: #7C7C7E;
}
/*.tz_detail_video .disabled_d{*/
    /*background: #c5c5c5;*/
/*}*/
/*.tz_detail_video .tz_check_like{*/
    /*display: none;*/
/*}*/
.tz_detail_pins{
    background: url("../images/d_delete.png") no-repeat scroll center #FFFFFF;
    border-radius: 50% 50% 50% 50%;
    cursor: pointer;
    height: 42px;
    position: absolute;
    right: 14px;
    top: 12px;
    width: 42px;
    z-index: 20;

}

.tz_content_cm{
    margin-top: 15px;
    width: 98%;

}
.tz_content_cm ul{
    margin: 0;
    padding:0;
    list-style: none;
}
.tz_content_cm ul li{
    margin-left: 8px;
    height: auto;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #c0c0c0;

}

.tz_content_cm ul li:hover{
    background: #e8eaf0;
}
.tz_content_cm ul li:hover .tz_comment_delete{
    display: block;
}
.tz_comment_imgs{
    width: 50px;
    height: 50px;
    position:  absolute;
}
.tz_detail_name_d{
      margin-left: 58px;
    height: auto;
    
}

.tz_comment_name{

    height: auto;
 
    color: #7C7C7E;
    font-size:  14px;
    font-weight: bold;
    display: block;
    float: left;
}
.thumbnails .tz_comment_name:hover{
    text-decoration:  underline;
    color: #7C7C7E;
}
.tz_comment_dt{
    padding-left: 15px;
    float: left;
}
.tz_comment_cn{
    width: 90%;
    height: auto;
   
    margin-left: 58px;
    color: #666666;
    margin-top: 5px;
}
.tz_detail_page{
    padding-bottom: 15px;
    padding-top: 10px;
    position: relative;
    width: 98%;
    margin: auto;


}
#tz_page_stop{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    display: none;


}
.tz_comment_delete{
    position: absolute;
    top:0;
    right: 0;
    display: none;
    cursor: pointer;
    padding: 20px;

}

#tz_comment_erroc_p{
    color: red;

    width: auto;
    margin-left: 14px;
}

#tz_comment_pt_a
{
    color: #666666;
    display: block;
   
    font-size: 12px;
    padding-left: 5px;
    float: left;
    padding-right: 10px;
    cursor: pointer;
}
#tz_comment_pt_emty
{
    color: #666666;
    display: none;
   
    font-size: 12px;
    padding-left: 5px;
    padding-top: 10px;

    cursor: pointer;
}
.tz_notice_detail{
    box-shadow: -1px 2px 2px 4px rgba(0, 0, 0, 0.3);
    background: white;
    height: 100px;
    width: 300px;
    position: fixed;
    top: -100%;
    display: none;
    left: 36%;
    z-index: 99;
}
.tz_notice_detail h5{
    padding-left: 10px;
}
.tz_delete_option{
    padding-top: 6px;
    padding-left: 65px;
}
.tz_delete_option a{
    margin-left: 5px;
    padding-left: 20px;
    padding-right: 20px;
}
.tz_pinboard_social{
    width: auto;
    padding: 5px 5px 5px 0;
    position: relative;
}
.FacebookButton{
    float: left;
    margin-left: 10px;
}
.FacebookButton a{
    cursor: pointer;

}
.TwitterButton{
    float: left;
    margin-left: 10px;
}
.GooglePlusOneButton{
    float: left;
    margin-left: 5px;
}
.TwitterButton,.GooglePlusOneButton,.FacebookButton,.PinterestButton ,.LinkedinButton{
    display: inline-block;
}