.cler{
    clear: both;
}
#tz_likepin_warp_conten_pins{
         width: 100%;
        position:  relative;
    background:#F8F4F8;
        height: auto;
    padding-top: 20px;

}
#tz_lik_pins_conten_all{
    width: 100%;
    height: auto;
    position:  relative;



}

.tz_pinlike_content_class{
    width: 230px;
    height: auto;




    float: left;

}
.tz_thumbnaillike{
    margin-left: 10px;
      margin-top: 10px;
    position: relative;
}
.tz_thumbnaillike h6:hover{
    cursor: pointer;
}
.tz_thumbnaillike img:hover{
    cursor: pointer;
}
.tz_pinlike_content__img{
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 90%;
}
.tz_pinlike_content__img:hover{
    cursor: pointer;
}
.tz_pinlike_content_class_2{
    width: 100%;
    height: auto;

}
.tz_pin_content_class_2_tile{
    width: 91%;
    height: auto;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 0;
    font-family: georgia;
    color: #666666;


}
.tz_pin_content_class_2_like{
    width: 100%;
    height: 15px;

    position: relative;
}
.tz_pin_content_class_2_like span:first-child{
    position: absolute;
    font-family: georgia;
       color: #666666;
    font-size: 12px;
    top:0;
    left: 10px


}
.tz_pin_content_class_2_like span:last-of-type{
    position: absolute;
    font-family: georgia;
       color: #666666;
    font-size: 11px;
    top:0;
    left: 65px


}
.tz_pinlike_content_class_2_web{
    width: 91%;
     height: auto;
     padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    display: block;
    background: #e0e0e0;
    color: #666666;
    font-family: georgia;
}
.tz_buttom_pinslike{
    position: absolute;
    width: auto;
    height: 50px;
    display: none;

    top:5px;
    left: 0px;

}
.tz_buttom_repinlike{
    width: 68px;
    height: 30px;
    display: block;
    border-radius: 5px;
    margin-left: 4px;
    float: left;
    box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}
.tz_unlike{

    background: #c0c0c0;
}
.tz_buttom_repinlike:hover{
    box-shadow: 1px 3px 5px rgba(34, 25, 25, 0.4);


}
.tz_buttom_repinlike span{
    text-align: center;
    padding-top: 5px;
    display: block;
    color: #666666;
    font-size: 12px;
    font-family: georgia;
}
.tz_pinlike_content_class:hover .tz_buttom_pinslike{
    display: block;
    cursor: pointer;
}
a:focus{
    outline: none !important;
      outline-offset: 0 !important;
}
.active{
    background: white;
}
/* repin */
#tz_repin_more_warp{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    top:0;
    left: 0;
    display: none;
}

#tz_more_conten{
    background: none repeat scroll 0 0 #F8F8F8;
    bottom: -100%;
    box-shadow: 0 3px 8px rgba(34, 25, 25, 0.4);
    left: 23%;
    max-height: 594px;
    overflow-x: hidden;
    overflow-y: scroll;
    position: fixed;
    width: 57%;
    z-index: 99999;
}
.tz_detail_pins {
    background: none repeat scroll 0 0 #000000;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    z-index: 99999;
}
.tz_thumbnaillike a{
    color: #767673;
}

#tz_repinlike_more_notice
{ width: 20%;
    height: 10%;
    z-index: 40000;
    position:  fixed;
    bottom: -100%;
    left: 40%;
    border-radius: 5px;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
       background: rgb(255,255,255); /* Old browsers */
       background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
       background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
       background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
       background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
       background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
       background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
       filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}
#tz_repinlike_more_notice p{
    font-family: georgia;
       font-size: 16px;
    text-align: center;
    padding-top: 20px;

}
.label{
    margin-left: 5px;
    margin-top: 5px;
}